<div class="comments-container">
  <h3>Comentários</h3>
  <div *ngIf="isLoggedIn" class="new-comment">
    <textarea [(ngModel)]="newComment" placeholder="Adicione um comentário..."></textarea>
    <button (click)="submitComment()" [disabled]="!newComment.trim()">Enviar</button>
  </div>
  <ul class="comment-list">
    <li *ngFor="let comment of comments">
      <div class="comment-header">
        <img class="avatar" [src]="comment.avatarUrl || 'assets/images/default-avatar.png'" alt="User avatar" />
        <span class="username">{{ comment.username }}</span>
      </div>
      <p class="comment-text">{{ comment.comments }}</p>
      <!-- <div class="comment-actions">
        <button>👍</button>
        <button>👎</button>
        <button>Responder</button>
      </div> -->
    </li>
  </ul>
</div>
