<div class="header">
  <div class="logo">
    <img src="assets/images/masterchef-logo.png" alt="MasterChef Logo" />
    <span>MasterChef Receitas</span>
  </div>
  <div class="nav">
    <select (change)="onSelectChange($event)">
      <option value="home">Receitas</option>
      <!--<option value="category">Categoria</option>
      <option value="ingredients">Ingredientes</option>
      <option value="comment">Comentários</option> -->
    </select>

    <input type="text" placeholder="Pesquise por Receitas..." (input)="onSearchChange($any($event.target).value)" />

    <ng-container *ngIf="currentUser; else showLogin">
      <select class="login-btn user-menu" (change)="onUserMenuChange($event)">
        <option value="/home">Olá {{ currentUser.name }}!</option>
        <option value="/user">Meu Perfil</option>
        <option value="/favorite">Meus Favoritos</option>
        <option *ngIf="currentUser.isAdmin" value="/admin">Área de Admin</option>
        <option value="logout">Sair</option>
      </select>
    </ng-container>
    <ng-template #showLogin>
      <button class="login-btn" (click)="onLoginClick()">Login/Registo</button>
    </ng-template>
  </div>
</div>
